.related-content {
  margin: 0 0 5%;

  .card {
    margin: 0 2rem;
  }

  .block-buttons {
    text-align: center;
  }

  .card-line {
    margin: 5% 0;
  }

  .card h3 {
    text-align: center;
  }
}
