//COLOURS
.is-primary-dark {
  background: $primary;
}

.is-primary {
  background: $primary-light;
}

.is-secondary {
  background: $secondary-light;
}

.is-tertiary {
  background: $tertiary-light;
}

.is-primary-gradient {
  background-image:
    linear-gradient(
      94.3deg,
      rgba(26, 33, 64, 1) 10.9%,
      rgba(81, 84, 115, 1) 87.1%
    );

  p,
  h1,
  h2,
  h3,
  h3 a,
  h4 {
    color: white !important;
  }
}

.is-cream {
  background: $cream;
}

.is-tertiary-gradient {
  color: white;
  background-image:
    radial-gradient(
      circle 1294px at -15.5% 23.8%,
      rgba(255, 206, 149, 1) 0%,
      rgba(247, 92, 92, 1) 44.9%,
      rgba(108, 0, 96, 0.97) 93.8%
    );

  p,
  h1,
  h2,
  h3,
  h4,
  h3 a {
    color: white !important;
  }
}

//OVERLAY

.is-overlay--light {
  background: rgba(252, 233, 231, 0.5);
}

.is-overlay--dark {
  background: rgba(25, 58, 105, 0.8);
}

//SPACING ANd CONTAINERS

.small-padding {
  padding: $baseline/2;
}

.normal-margin-top {
  margin-top: $baseline;
}

.normal-margin-bottom {
  margin-bottom: $baseline;
}

.normal-padding {
  padding: $baseline;
}

.normal-padding-tb {
  padding: $baseline 0;
}

.normal-margin {
  margin: $baseline 0;
}

.medium-padding {
  padding: $baseline * 2;
}

.medium-padding-tb {
  padding: $baseline * 2 0;
}

.large-padding {
  padding: $baseline * 4;
}

.large-padding-top {
  padding-top: 150px;

  @include mq($until: tablet) {
    padding-top: $baseline*2;
  }
}

.text-content {
  max-width: 45rem;
  text-align: left;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

//ALIGNMENT

.align-center {
  text-align: center;
  justify-content: center;
}

.alignleft {
  float: left;
  margin-right: 2rem;

  @include mq($until: mb) {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.alignright {
  float: right;
  margin-left: 2rem;

  @include mq($until: mb) {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

//POSITION
.is-relative {
  position: relative;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.no-body-scroll {
  position: fixed;
  width: 100%;
}

//RESPONSIVE VIDEOS AND IMAGES
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-resp {
  width: 100%;
}

//DESIGN ELEMENTS
