@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?nybaz1");
  src:
    url("../fonts/icomoon.eot?nybaz1#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?nybaz1") format("truetype"),
    url("../fonts/icomoon.woff?nybaz1") format("woff"),
    url("../fonts/icomoon.svg?nybaz1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Windsor";
  src: url("../fonts/Windsor.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src:
    url("../fonts/Calibre-Medium.woff2") format("woff2"),
    url("../fonts/Calibre-Medium.woff") format("woff"),
    url("../fonts/Calibre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src:
    url("../fonts/Calibre-Regular.woff2") format("woff2"),
    url("../fonts/Calibre-Regular.woff") format("woff"),
    url("../fonts/Calibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$baseline: 1.2rem;
$title-font: "Windsor", serif;
$font: "Calibre", serif;

//FONT SIZES
$s1-text: 3.5rem;
$s2-text: 2.5rem;
$s3-text: 1.5rem;
$s4-text: 1.2rem;
$s5-text: $baseline;
$s6-text: 0.9rem;

//LINE HEIGHTS
$s1-lh: 4rem;
$s2-lh: 3rem;
$s3-lh: 2rem;
$s4-lh: 1.5rem;
$s5-lh: 1.5rem;

@mixin font-title($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: $title-font;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin font-text($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: $font;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

h1 {
  @include font-title(
    $size: $s1-text,
    $colour: $primary,
    $weight: 400,
    $lh: $s1-lh
  );

  @include mq($until: mobile) {
    font-size: $s3-text;
    line-height: $s3-lh;
  }
}

h2 {
  @include font-title(
    $size: $s2-text,
    $colour: $primary,
    $weight: 400,
    $lh: $s2-lh
  );

  @include mq($until: mobile) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  margin-bottom: 1rem;
}

h3,
legend {
  @include font-title(
    $size: $s3-text,
    $colour: $primary,
    $weight: 400,
    $lh: $s3-lh
  );
}

h4 {
  @include font-title(
    $size: $s4-text,
    $colour: $primary,
    $weight: 400,
    $lh: $s4-lh
  );
}

h5 {
  @include font-text(
    $size: $s6-text,
    $colour: $primary,
    $weight: 400,
    $lh: $s5-lh
  );
}

p {
  letter-spacing: 1px;

  @include font-text(
    $size: $s5-text,
    $colour: $primary,
    $weight: 300,
    $lh: $s4-lh
  );
}

em {
  font-size: $s6-text;
}

.text {
  max-width: 45rem;
  margin: 0 auto;
}

//HEADINGS

.title-with-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    padding: 0;
  }
}
