// Colours
// ---------

$white: #fff;
$primary: #070733;
$secondary: #0ca393;
$tertiary: #e8810a;
$tertiary-light:#f2a679;
$cream:#fff5ed;
$secondary-light: #1acbb8;
$primary-light: #d1adca;
$text-color: #0b241e;

$border-radius: 100px;
